
.idea/deployment.xml
.idea/coding_test_buildo.iml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
server/__pycache__/utils.cpython-37.pyc
__pycache__/utils.cpython-37.pyc
*.pyc
*.xml
